
.div-main-abm h2 {
    margin: 50px 0;
    font-weight: 400;
}

.div-abm-title {
    margin: 0px auto 0 auto;
    width: 70%;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div-main-form {
    padding-top: 15px;
    width: 70%;
    margin: auto;
    border-bottom: solid 3px var(--main-color);
    border-left: solid 0.5px gray;
    border-right: solid 0.5px gray;
    min-height: 40vh;
    background-color: white;
}

.div-main-form label {
    color: gray;
}

.div-main-form input {
    display: block;
    width: 65%;
    height: 25px;
    border-radius: 4px;
    border: none;
    border-bottom: solid 2px gray;
    margin: 10px auto;
    transition: 0.5s;
    color: gray;
    font-size: 15px;
}

.div-main-form input:focus {
    transition: 0.5s;
    outline: none;
    border-bottom: solid 2px var(--main-color);
    color: var(--main-color);
}

.div-main-form select {
    display: block;
    margin: 15px auto;
    height: 30px;
    width: 80px;
    font-size: 15px;
    border-radius: 5px;
    color: gray;
}

.button-form {
    background-color: var(--main-color);
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: none;
    transition: 0.5s;
    margin: 20px 5px;
    border: solid 2px transparent;
}

.button-form:hover {
    background-color: transparent;
    border: solid 2px var(--main-color);
    color: gray;
    transition: 0.5s;
    cursor: pointer;
}